In [1]:
import pandas as pd

import sqlite3

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Float, Integer, String

In [2]:
station_csv = "Resources/data/station.csv"
measurement_csv = "Resources/data/clean_measurement.csv"

In [3]:
station_df = pd.read_csv(station_csv)
measurement_df = pd.read_csv(measurement_csv)

In [4]:
station_df.pop('id')
station_df

,station,name,latitude,longitude,elevation,location
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0,POINT(21.2716 -157.8168)
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6,POINT(21.4234 -157.8015)
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0,POINT(21.5213 -157.8374)
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9,POINT(21.3934 -157.9751)
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6,POINT(21.4992 -158.0111)
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5,POINT(21.33556 -157.71139)
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9,POINT(21.45167 -157.84889)
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9,POINT(21.3152 -157.9992)
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4,POINT(21.3331 -157.8025)

In [5]:
measurement_df.pop('Unnamed: 0')
measurement_df.pop('id')
measurement_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08  65.0
1  USC00519397  2010-01-02  0.00  63.0
2  USC00519397  2010-01-03  0.00  74.0
3  USC00519397  2010-01-04  0.00  76.0
4  USC00519397  2010-01-06  0.00  73.0

In [6]:
Base = declarative_base()

In [7]:
class Measurement(Base):
    __tablename__ = 'measurement'
    measurement_id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Float)

In [8]:
class Station(Base):
    __tablename__ = 'station'
    station_id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(String(255))

In [9]:
engine = create_engine("sqlite:///hawaii2.sqlite", echo=False)
session = Session(bind=engine)
conn = engine.connect()
Base.metadata.create_all(engine)

In [10]:
# add 'measurement' table to the 'hawaii' db and replace if already run before
measurement_df.to_sql(Measurement.__tablename__, conn, if_exists='append', index_label='measurement_id')

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: measurement.measurement_id [SQL: 'INSERT INTO measurement (measurement_id, station, date, prcp, tobs) VALUES (?, ?, ?, ?, ?)'] [parameters: ((0, 'USC00519397', '2010-01-01', 0.08, 65.0), (1, 'USC00519397', '2010-01-02', 0.0, 63.0), (2, 'USC00519397', '2010-01-03', 0.0, 74.0), (3, 'USC00519397', '2010-01-04', 0.0, 76.0), (4, 'USC00519397', '2010-01-06', 0.0, 73.0), (5, 'USC00519397', '2010-01-07', 0.06, 70.0), (6, 'USC00519397', '2010-01-08', 0.0, 64.0), (7, 'USC00519397', '2010-01-09', 0.0, 68.0)  ... displaying 10 of 19550 total bound parameter sets ...  (19548, 'USC00516128', '2017-08-22', 0.5, 76.0), (19549, 'USC00516128', '2017-08-23', 0.45, 76.0))]

In [ ]:
station_df.to_sql(Station.__tablename__, conn, if_exists='append', index_label='station_id')